@model MyShop.Core.ViewModels.CartSummaryViewModel

    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Index", "Cart")">@Model.CartCount items</a></li>
        <li><a href="@Url.Action("Index", "Cart")">@String.Format("{0:c}", Model.CartTotal)</a></li>
    </ul>
